* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #26272A;
}
.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #fff;
  border-radius: 50%;
}
.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #62d3f5;
  z-index: 10000;
  border-radius: 50%;
}
.hour,
.min,
.sec {
  position: absolute;
}
.hour,
.hr {
  width: 200px;
  height: 200px;
}
.min,
.mn {
  width: 230px;
  height: 230px;
}
.sec,
.sc {
  width: 250px;
  height: 250px;
}
.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
}
.hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100px;
  background: #fff;
}
.mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 110px;
  background: #fff;
}
.sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 120px;
  background: #62d3f5;
}
#digitalClock {
  display: flex;
  color: #fff;
  font-size: 4em;
  margin-top: 30px;
}
p {
  display: flex;
  color: #fff;
  font-size: 1.5em;
  margin-top: 3px;
}